*{
    color: #406e69;
    overflow: hidden;
    background-color: transparent;
    font-family:PlemojJP Console NF;
    font-size: 22px;
    border-style: hidden;
    border: none;
}
#window{
    font-size: 22px;
    color: #001414;
}
#entry{
    border-radius: 0;
    background-color: #406e69;
    margin-top: 5px;
    margin-bottom: 1px;
}
#entry:selected{
    color: #406e69;
    background-color: #001414;
}
#entry:focus{
    background-color: #001414;
    outline: none;
}
#outer-box{
    border: 2px solid #406e69;
    padding:20px;
    background: #000000;
}
#input{
    box-shadow: 0px 0px 0px 0px #FFFFFF inset;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 5px;
    color: #406e69;
    background: #000000;
  }
#input:first-child > :nth-child(1){
    color: #000000;
}
#input:first-child > :nth-child(4){
    color: #000000;
}
#inner-box{
    margin: 0px;
    margin-top: 0px;
    background-color:#001414;
}
